* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f5f7fb;
}

.app-shell {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-main {
  flex: 1;
  width: 100%;
}
